unstructured
openpyxl
docx2txt
python-magic
python-pptx
python-dotenv
os
pandas
psycopg2-binary
python-dotenv
fastapi
starlette
uvicorn
jinja2
typing
markdown
scikit-learn
seaborn
matplotlib
langchain
langchain-google-genai
langchain-community
google-generativeai
nest-asyncio
ipython
pydantic
urllib3
rich
networkx
scipy
numpy